@{
    ViewBag.Title = "Login Page";
}
<div class="login-page">
    <div class="login-container">
        <h1>Login</h1>
        <p>Please enter your login details..</p>
        <div class="form-container">
            <form name="form">
                <input type="text" name="email" placeholder="Your email address..">
                <input type="text" name="password" placeholder="Your password..">
                <input type="button" onclick="loginCheck()" value="Login" />
            </form>
           
        </div>
    </div>
    <script src="~/Scripts/signIn.js"></script>
</div>

