
@{
    ViewBag.Title = "Welcome";
}
<div class="welcomecontent">
    <h2 class="welcomebanner">You have successfully logged in!</h2>
    <input class="signoutbtn" type="button" value="Sign Out" onclick="window.location= '@Url.Action( "Index", "Home")'" />
</div>